rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isTenantOwner(tenantId) {
      return request.auth != null && request.auth.uid == tenantId;
    }
    match /tenants/{tenantId} {
      allow read, write: if isTenantOwner(tenantId);
      match /{document=**} {
        allow read, write: if isTenantOwner(tenantId);
      }
    }
  }
}
